* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.menu {
    width: 60%;
    margin: 0 auto;
    padding-top:57px;
}
.logo {
    color: #34547A;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    display: inline;
}
.menu-list {
    display: inline;
    margin-left:25%;
}
.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    padding-left: 10px;
    display: inline;    
}
.about-me {
    width: 60%;
    margin: 0 auto;
}
.about-me-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
.about-me-text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    padding-left: 25%;
    padding-right: 25%;
}
.container {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}
.project {
    padding: 100px 0;
    background-color: #34547A;
}
.project-item {
    width: 16.6%;
    float:left;
    color: white;
}
.project-content {
    width: 50%;
    float: left;
}
.project-ikon {
    float: left;
    margin-right: 10px;
}
.project-title {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 21px;
}
.project-description {
    font-size: 16px;
}