* {
    box-sizing: border-box;
}
@font-face {
    font-family: "kronaone";
    src: url('./fonts/KronaOne.ttf')
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Russo+One&display=swap');


.menu {
    width: 1920px;
    height: 100px;
}
.logo {
    width: 96px;
    height: 60px;
    left: 402px;
    top: 50px;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #34547A;
    margin: 35px;
}
.menu-list {
    width: 611px;
    height: 16px;
    left: 500px;
    top: 72px;  
    margin: 0 auto;
    overflow: hidden; 
    position: absolute;
}
.menu-item {
    width: 16.6%;
    float:left;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}
.design-and-verstka {
    padding-top: 100px;
    width: 1920px;
    height: 400px;
    position: relative;
}
.leftblock {
    width: 50%;
    height: 0px;
    margin-left:100px;
}
.rightblock {
    width: 50%;
    height: 400px;
    float: left;
    overflow: hidden;
    position: absolute;
    left: 720px;
}
.design {
    width: 541px;
    height: 45px;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px; 
    
}
.text {
    position: relative;
    width: 500px;
    height: 67px;
    top: 40px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.writen {
    position: absolute;
    width: 225px;
    height: 65px;
    font-size: 19px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.1em;
    background-color: #34547A;
    color: white;
    top: 200px;
}


.about-me {
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
}
.about-me-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;

}
.about-me-text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    padding-left: 25%;
    padding-right: 25%;
}
.container {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}
.project {
    padding: 100px 0;
    background-color: #34547A;
    margin-top: 150px;
}
.project-item {
    width: 16.6%;
    float:left;
    color: white;
}
.project-content {
    width: 50%;
    float: left;
}
.project-ikon {
    float: left;
    margin-right: 10px;
}
.project-title {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 21px;
}
.project-description {
    font-size: 16px;
}

.my-skill {
   padding: 100px; 


}
.my-skill-portret {
    float: right;

}
.skill-title {
    position: absolute;
    width: 403px;
    height: 30px;
    left: 386px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}
.skill-item {
    width: 403px;
    height: 30px;
    left: 386px;
    vertical-align: inherit;  
}

svg {
    fill: red;
    stroke: lime;
}

svg:hover {
    fill: black;
}

.test {
  
    width: 100vw;
    height: 100vh;
    background-image: url("4b1d11587776cdda3423684ff74f2660.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:yellowgreen;
    background-position: center;
    background-attachment: fixed;
  
}
.test1 {
    width: 100px;
    height: 100px;
    background: pink;
    position: absolute;
    top:0;
    left:0;
}
.top {
    position: relative;
    background: blueviolet;
    width: 100px;
}
.we {
    font-weight: bold;
    font-style: italic;
    font-family: "kronaone";
}
.galery-item-paper {
    position: relative;
    width: 25%;
    height: 480px;
    background: url(Rectangle\ 7.2.png);
    float: left;
    overflow: hidden;   
}
.galery-item-laptop {
    position: relative;
    width: 25%;
    height: 480px;
    background: url(Rectangle\ 7.7.png);
    float: left;
    overflow: hidden;
}
.galery-shadow {
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgb(17 124 175 / 47%); 
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    transition: .5s all linear;
}
.galery-shadow:hover {
    opacity:1;
}